.footer{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: auto;
   display: flex;
   justify-content: center;
   vertical-align: center;
   background-color: #666666;
   text-align: center;

}
.size{
	font-size: 10pt;
   color:black;
   opacity: 0.8;
}